/*
  @Project : Them
  @Dev : Neel
  @Date : 11/08/2020;
*/


/* config */

@import "../css/fonts.css";
@import "config/variables";

/* element */

@import "elements/normalize";
@import "elements/elements";

/* common */

@import "base/grid";
@import "common/common";

/* bootstrap extended */

// @import "component-extended/btn";

/* base include */

@import "base/bs-proxy-scroll";
@import "base/bs-header";
@import "base/bs-banner";
@import "base/bs-section";
@import "base/bs-footer";
@import "base/bs-btn";
@import "base/bs-tag";
@import "base/bs-intro-block";
@import "base/bs-prxl-block";
@import "base/bs-contact";
@import "base/bs-tab";
@import "base/bs-work-tile";
@import "base/bs-speak";
@import "base/bs-stage-growth";
@import "base/bs-innovation";
@import "base/bs-neo";
@import "base/bs-service";
@import "base/bs-achievement";
@import "base/bs-blog";
@import "base/bs-number";
@import "base/bs-advantage";
@import "base/bs-team";
@import "base/bs-specialize";
@import "base/bs-workshop";
@import "base/bs-talk";
@import "base/bs-offerings";
@import "base/bs-insight";
@import "base/bs-form";
@import "base/bs-checkbox";
@import "base/bs-breadcrumb";
@import "base/bs-loader";

/* layout */

// @import "layout/lyt-login";

/* modules */

@import "module/mod-num-info";
@import "module/mod-infography-card";
@import "module/mod-img-desc-card";
@import "module/mod-title-desc";

/* pages */

@import "page/pg-light";