<header>
    <div class="bs-header">
        <a href="" class="logo">7th Heaven Brewing</a>
    </div>
</header>
<main>
    <h1 class="cm-not-in-page">7th Heaven Brewing</h1>
    <div class="lyt-main">
        <div class="container">
            <div class="bs-section">
                <div class="search-wrap">
                    <input type="text" class="form-control" placeholder="Search Beer" [(ngModel)]="searchText">
                </div>
                <ul class="card-list col-3">
                    <li class="card-item col-item" *ngFor="let item of beerList | searchFilter:searchText | paginate:{itemsPerPage:21,currentPage:p};let indexOfElement=index;">
                        <div class="bs-card">
                            <div class="img-wrap">
                                <img [src]="beerImg[indexOfElement%beerImg.length].image" alt="beer-img">
                            </div>
                            <div class="data-wrap">
                                <dl>
                                    <dt>Id</dt>
                                    <dd>{{item.id}}</dd>
                                </dl>
                                <dl>
                                    <dt>Name</dt>
                                    <dd>{{item.name}}</dd>
                                </dl>
                                <dl>
                                    <dt>ibu</dt>
                                    <dd>{{item.ibu}}</dd>
                                </dl>
                                <dl>
                                    <dt>abv</dt>
                                    <dd>{{item.abv}}</dd>
                                </dl>
                                <dl>
                                    <dt>style</dt>
                                    <dd>{{item.style}}</dd>
                                </dl>
                                <dl>
                                    <dt>ounces</dt>
                                    <dd>{{item.ounces}}</dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                </ul>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</main>