// Colors
$clr-white:#ffffff;
$clr-black:#000000;
$clr-base:#333333;
$clr-secondary:#8b8b8b;
// Fonts-weight
$font-light:300;
$font-regular:400;
$font-bold:700;
// Breakpoints
$mobile-breakpoint: 1024px;
$mobile-breakpoint-xs: 359px;